[submodule "Scripts/PercyBysshe-audio"]
	path = Scripts/PercyBysshe-audio
	url = git@github.com:jdginn/PercyBysshe-audio.git
[submodule "Scripts/git-moss/DrivenByMOss"]
	path = Scripts/git-moss/DrivenByMOss
	url = git@github.com:git-moss/DrivenByMoss.git
[submodule "Scripts/Scripts/Klinkenstecker/csurf_klinke_mcu"]
	path = Scripts/Klinkenstecker/csurf_klinke_mcu
	url = https://bitbucket.org/Klinkenstecker/csurf_klinke_mcu.git
[submodule "Scripts/jahudka/reaper_consolefx"]
	path = Scripts/jahudka/reaper_consolefx
	url = git@github.com:jahudka/reaper-consolefx.git
